.custom-page {
  & {
    margin: 0 auto;
    max-width: 310px;
    background: white;

    @media (min-width: 1024px) {
      max-width: 960px;
    }
  }

  &__header, .singular &__header {
    padding: 12px 16px 24px;
  }

  &__content {
    padding: 24px 16px 24px;
  }

  &__grid__order-number, &__grid__id, &__grid__username {
    width: 1%;
    word-break: keep-all;

    & > a {
      word-break: keep-all;
      text-decoration: none;
    }
  }
}
